@font-face {
    font-family: 'Merge One Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Merge One Regular'), url('MergeOne-Regular.woff') format('woff');
    }

*{

}


html {
    scroll-behavior: smooth;
}

.banner1 img {
    height: 500px;
    width: 1500px;
 
}

.menu {
    
    font-size: 20px;
    color: black;
}

#sobre{
    font-size: 18px;
 
    display: flex;
    flex-direction: column;

  
}

.sobre1 {
    font-size: 20px;
   
    padding-top: 30px;
    font-family: "merge one";
  width: 1400px;
}

.sobre2 {
    font-size: 20px;
    padding-top: 20px;
    font-family: "merge one";

}

.sobre3 {
    font-size: 20px;
    padding-top: 20px;
    font-family: "merge one";
    width: 1400px;
  
}

.texto {

font-size: 30px;
}

.container {
    display: flex; 
    justify-content: center; 
   gap: 10px;
   margin-top: 10px;
    padding-top: 10px;
    font-family: "merge one";
    
}

.container img {
   
    padding-right: 35px;
    width: 330px;
    height: 500px;
}





