@font-face {
    font-family: "Lexend";
    src: url(Fontes/LexendGiga-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Merge";
    src: url(Fontes/MergeOne-Regular.woff);
}


* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

.container-grid {
    width: 85vw;
    margin: 0 auto;
}

html {
    scroll-behavior: smooth;
}

.menu {
    width: 95vw;
    max-width: 1500px;

    margin-left: 40px;

    display: flex;
    justify-content: space-between;

    margin-top: 20px;
    margin-bottom: 20px;
    
}

.menu a {
    font-family: "Merge";
    font-size: 20px;
    font-weight: 500;

    color: black;

    text-decoration: underline transparent;
    text-decoration-thickness: 1px;
    transition: text-decoration, color 600ms ease;

    margin-top: 15px;
}

.menu a:hover {
    text-decoration-color: #784E45;
    color: #784E45;
}

.menu img {
    width: 160px;
}

.icons svg{
    width: 50px;

    color: black;

    text-decoration: underline transparent;
    text-decoration-thickness: 1px;
    transition: text-decoration, color 600ms ease;

    cursor: pointer;

}

.icons svg:hover {
    text-decoration: #784E45;
    color: #784E45;
}

.seções {
    width: 25vw;

    display: flex;
    justify-content: space-between;

    margin-left: 200px;
    margin-right: 200px;
}


.icons {
   margin-left: 25px;
    display: flex;
    align-items: center;

    justify-content: space-around;
    flex-direction: column;
}

#madu {
    position: relative;
}

#madu img {
    height: 58vw;
}

#madu h2 {
    position: absolute;
    bottom: 60px;
    right: 5vw;

    font-family: "lexend";
    font-size: 60px;
    font-weight: 600;

    color: #ffffff;
}

#sobre p {
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 70px;
    margin-bottom: 100px;


    font-family: "merge";
    font-size: 35px;
    font-weight: 400;

    color: #000000;
}

#trabalho {
    background-image: url(img/planta.png);
    height: 72vw;
    background-size: contain;
    background-repeat: no-repeat
}

#trabalho .topico p {
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;

    font-family: "Lexend";
    font-size: 50px;
    font-weight: 400;
    color: #000000;

    background-color: #ffffff;
    width: 580px;

    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;


}

#trabalho .descricao .grid-texto {
    margin-top: 100px;

    padding-top: 60px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 160px;

    
    font-family: "merge";
    font-size: 35px;
    font-weight: 400;
    color: #000000;

    background-color: #ffffff;

    border-top-left-radius: 50px;
    border-top-right-radius: 50px;

}

#trabalho .descricao .grid-texto p {
    padding-top: 70px;
}

.cases .cards {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}

.cases .cards img {
width: 500px;
}