@font-face {
    font-family: "Mergeone";
    src: url(fonts/MergeOne-Regular.ttf);
}

@font-face {
    font-family: "Lexend";
    src: url(fonts/LexendGiga-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.menu {
    width: 94vw;
    max-width: 1500px;

    margin-left: 40px;

    display: flex;
    justify-content: space-between;

    margin-top: 20px;
    margin-bottom: 20px;
    
}

.menu a {
    font-family: "Mergeone";
    font-size: 20px;
    font-weight: 500;

    color: black;

    text-decoration: underline transparent;
    text-decoration-thickness: 1px;
    transition: text-decoration, color 600ms ease;

    margin-top: 15px;
}

.menu a:hover {
    text-decoration-color: #784E45;
    color: #784E45;
}

.menu img {
    width: 160px;
}

#categorias svg {
    width: 50px;

    color: black;

    text-decoration: underline transparent;
    text-decoration-thickness: 1px;
    transition: text-decoration, color 600ms ease;

    cursor: pointer;
}

#categorias svg:hover {
    text-decoration-color: #784E45;
    color: #784E45;
}


.seções {
    width: 25vw;

    display: flex;
    justify-content: space-between;

    margin-left: 200px;
    margin-right: 200px;
}


#categorias {
   
    display: flex;
    align-items: center;

    justify-content: space-around;
    flex-direction: column;
}

ul {
    padding-left: 18px;
}

.titulo h1 {
    font-family: "Lexend";
    font-size: 35px;
}

.titulo h2 {
    font-family: "Lexend";
    font-size: 20px;
}

#categorias li {
    font-family: "Mergeone";
    font-size: 20px;
    color: whitesmoke;

    padding: 16px;
}

#categorias h1 {
    font-family: "Lexend";

    margin-bottom: 15px;
}

#categorias h2 {
    font-family: "Lexend";

}

.titulo {
    padding: 20px;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.entregas {
    height: 250px;
    width: 1000px;

    background-color: #784E45;

    color: whitesmoke;

    padding: 20px;
    margin-top: 30px;
    margin-bottom: 30px;

    border-radius: 50px;
}

.entregas h1 {
    margin-left: 30px;
}

.entregas li {
    margin-left: 30px;
}

.reembolsos {
    height: 250px;
    width: 1000px;

    background-color: #784E45;

    color: whitesmoke;

    padding: 20px;
    margin-top: 30px;
    margin-bottom: 30px;

    border-radius: 50px;
}

.reembolsos h1 {
    margin-left: 30px;
}

.reembolsos li {
    margin-left: 30px;
}

.problemas {
    height: 250px;
    width: 1000px;

    background-color: #784E45;

    color: whitesmoke;

    padding: 20px;
    margin-top: 30px;
    margin-bottom: 30px;

    border-radius: 50px;
}

.problemas h1 {
    margin-left: 30px;
}

.problemas li {
    margin-left: 30px;
}

.pagamento {
    height: 250px;
    width: 1000px;

    background-color: #784E45;

    color: whitesmoke;

    padding: 20px;
    margin-top: 30px;
    margin-bottom: 30px;

    border-radius: 50px;
}

.pagamento h1 {
    margin-left: 30px;
}

.pagamento li {
    margin-left: 30px;
}

.suporte {
    height: 250px;
    width: 1000px;

    background-color: #784E45;

    color: whitesmoke;

    padding: 20px;
    margin-top: 30px;
    margin-bottom: 30px;

    border-radius: 50px;
}

.suporte h1 {
    margin-left: 30px;
}

.suporte li {
    margin-left: 30px;
}

