@font-face {
    font-family: "Mergeone";
    src: url(fonts/MergeOne-Regular.ttf);
}

@font-face {
    font-family: "Lexend";
    src: url(fonts/LexendGiga-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.menu {
    width: 100vw;
    max-width: 1500px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 20px;
    margin-bottom: 20px;
    
}

.menu a {
    font-family: "Mergeone";
    font-size: 20px;
    font-weight: 500;

    color: black;

    text-decoration: underline transparent;
    text-decoration-thickness: 1px;
    transition: text-decoration, color 600ms ease;

    margin-top: 15px;
}

.menu a:hover {
    text-decoration-color: #784E45;
    color: #784E45;
}

.menu img {
    width: 150px;

    display: flex;
    
    cursor: pointer;
}

#icons .carrinho svg{

    color: black;

    text-decoration: underline transparent;
    text-decoration-thickness: 1px;
    transition: text-decoration, color 600ms ease;

    cursor: pointer;

}

#icons .carrinho svg:hover {
    text-decoration: #784E45;
    color: #784E45;
}

.seções {
    width: 30vw;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.carrinho{
      width: 40px;
      height: 40px;

      margin-right: 5px;
}

#icons {
    width: 98vw;
    
    display: flex;
    justify-content: center;
}


.seções {
    width: 30vw;

    display: flex;
    justify-content: space-around;
    align-items: center;

    
}

.icon {
    width: 35px;
    height: 35px;
}

#categorias {

    display: flex;
    align-items: center;
    flex-direction: column;

    margin-right: 10px;
}

ul {
    padding-left: 18px;
}

.titulo h1 {
    font-family: "Lexend";
    font-size: 35px;
}

.titulo h2 {
    font-family: "Lexend";
    font-size: 20px;
}

#categorias li {
    font-family: "Mergeone";
    font-size: 18px;
    color: whitesmoke;

    padding: 15px;
}

#categorias h1 {
    font-family: "Lexend";
    font-size: 28px;

    margin-bottom: 15px;
}

#categorias h2 {
    font-family: "Lexend";

}

.titulo {
    padding: 20px;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.categoria-entregas {
    height: 250px;
    width: 1000px;

    background-color: #784E45;

    color: whitesmoke;

    padding: 20px;
    margin-top: 30px;
    margin-bottom: 30px;

    border-radius: 50px;
}

.categoria-entregas .introdução {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    margin-right: 710px;
}

.categoria-entregas h1 {
    margin-left: 30px;
}

.categoria-entregas li {
    margin-left: 30px;
}

.categoria-reembolsos {
    height: 250px;
    width: 1000px;

    background-color: #784E45;

    color: whitesmoke;

    padding: 20px;
    margin-top: 30px;
    margin-bottom: 30px;

    border-radius: 50px;
}

.categoria-reembolsos .introdução {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    margin-right: 400px;
}

.categoria-reembolsos h1 {
    margin-left: 30px;
}

.categoria-reembolsos li {
    margin-left: 30px;
}

.categoria-problemas {
    height: 250px;
    width: 1000px;

    background-color: #784E45;

    color: whitesmoke;

    padding: 20px;
    margin-top: 30px;
    margin-bottom: 30px;

    border-radius: 50px;
}

.categoria-problemas .introdução {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    margin-right: 400px;
}

.categoria-problemas h1 {
    margin-left: 30px;
}

.categoria-problemas li {
    margin-left: 30px;
}

.categoria-pagamento {
    height: 250px;
    width: 1000px;

    background-color: #784E45;

    color: whitesmoke;

    padding: 20px;
    margin-top: 30px;
    margin-bottom: 30px;

    border-radius: 50px;
}

.categoria-pagamento .introdução {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    margin-right: 440px;
}

.categoria-pagamento h1 {
    margin-left: 30px;
}

.categoria-pagamento li {
    margin-left: 30px;
}

.categoria-suporte {
    height: 250px;
    width: 1000px;

    background-color: #784E45;

    color: whitesmoke;

    padding: 20px;
    margin-top: 30px;
    margin-bottom: 30px;

    border-radius: 50px;
}

.categoria-suporte .introdução {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    margin-right: 570px;
}

.categoria-suporte h1 {
    margin-left: 30px;
}

.categoria-suporte li {
    margin-left: 30px;
}

.fooder-icons {
    width: 100%;
    
     
     display: flex;
     align-items: center;
     flex-direction: row;
     justify-content: space-around;
 
     padding: 20px;
 }
 
 .fooder-icons svg {
     width: 35px;
     height: 35px;
 }
 
 .fooder-icons .monãpng {
     width: 140px;
     margin-bottom: 10px;
 
     cursor: pointer;
 }
 
 .sociais {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
 
    
     margin-top: 20px;
     gap: 25px;
 }
 
 .fooder-icons svg {
     color: black;
 
     text-decoration: underline transparent;
     text-decoration-thickness: 1px;
     transition: text-decoration, color 600ms ease;
 
     cursor: pointer;
 }
 
 .fooder-icons svg:hover {
     text-decoration-color: #784E45;
     color: #784E45;
 }
 

 @media (max-width: 1000px) {

    .icon {
        width: 25px;
        height: 25px;
    }
    
    #categorias li {
        font-family: "Mergeone";
        font-size: 15px;
        color: whitesmoke;
    
        padding: 15px;
    }
    
    #categorias h1 {
        font-family: "Lexend";
        font-size: 20px;
    
        margin-bottom: 15px;
    }
    
    .categoria-entregas {
        height: 220px;
        width: 600px;
    
        background-color: #784E45;
    
        color: whitesmoke;
    
        padding: 15px;
        margin-top: 10px;
    
        border-radius: 20px;
    }
    
    .categoria-entregas .introdução {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    
        margin-right: 390px;
    }
    
    .categoria-entregas h1 {
        margin-left: 10px;
    }
    
    .categoria-entregas li {
        margin-left: 10px;
    }
    
    .categoria-reembolsos {
        height: 220px;
        width: 600px;
    
        background-color: #784E45;
    
        color: whitesmoke;
    
        padding: 15px;
        margin-top: 10px;
        
        border-radius: 20px;
    }
    
    .categoria-reembolsos .introdução {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    
        margin-right: 160px;
    }
    
    .categoria-reembolsos h1 {
        margin-left: 15px;
    }
    
    .categoria-reembolsos li {
        margin-left: 10px;
    }
    
    .categoria-problemas {
        height: 220px;
        width: 600px;
    
        background-color: #784E45;
    
        color: whitesmoke;
    
        padding: 15px;
        margin-top: 10px;
        
        border-radius: 20px;
    }
    
    .categoria-problemas .introdução {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    
        margin-right: 180px;
    }
    
    .categoria-problemas h1 {
        margin-left: 10px;
    }
    
    .categoria-problemas li {
        margin-left: 10px;
    }
    
    .categoria-pagamento {
        height: 220px;
        width: 600px;
    
        background-color: #784E45;
    
        color: whitesmoke;
    
        padding: 15px;
        margin-top: 10px;
        
        border-radius: 20px;
    }
    
    .categoria-pagamento .introdução {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    
        margin-right: 210px;
    }
    
    .categoria-pagamento h1 {
        margin-left: 10px;
    }
    
    .categoria-pagamento li {
        margin-left: 10px;
    }
    
    .categoria-suporte {
        height: 220px;
        width: 600px;
    
        background-color: #784E45;
    
        color: whitesmoke;
    
        padding: 15px;
        margin-top: 10px;
        
        border-radius: 20px;
    }
    
    .categoria-suporte .introdução {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    
        margin-right: 300px;
    }
    
    .categoria-suporte h1 {
        margin-left: 10px;
    }
    
    .categoria-suporte li {
        margin-left: 10px;
    }
 }

 @media (max-width: 600px) {
    
    .carrinho svg {
        width: 30px;
        height: 30px;
    }
    
    .icon {
        width: 20px;
        height: 20px;
    }
    
    #categorias li {
        font-family: "Mergeone";
        font-size: 14px;
        color: whitesmoke;
    
        padding: 15px;
    }
    
    #categorias h1 {
        font-family: "Lexend";
        font-size: 16px;
    
        margin-bottom: 15px;
    }
    
    .categoria-entregas {
        height: 220px;
        width: 400px;
    
        background-color: #784E45;
    
        color: whitesmoke;
    
        padding: 15px;
        margin-top: 10px;
    
        border-radius: 20px;
    }
    
    .categoria-entregas .introdução {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    
        margin-right: 230px;
    }
    
    .categoria-entregas h1 {
        margin-left: 10px;
    }
    
    .categoria-entregas li {
        margin-left: 10px;
    }
    
    .categoria-reembolsos {
        height: 220px;
        width: 400px;
    
        background-color: #784E45;
    
        color: whitesmoke;
    
        padding: 15px;
        margin-top: 10px;
    
        border-radius: 20px;
    }
    
    .categoria-reembolsos .introdução {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    
        margin-right: 40px;
    }
    
    .categoria-reembolsos h1 {
        margin-left: 15px;
    }
    
    .categoria-reembolsos li {
        margin-left: 10px;
    }
    
    .categoria-problemas {
        height: 220px;
        width: 400px;
    
        background-color: #784E45;
    
        color: whitesmoke;
    
        padding: 15px;
        margin-top: 10px;
    
        border-radius: 20px;
    }
    
    .categoria-problemas .introdução {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    
        margin-right: 50px;
    }
    
    .categoria-problemas h1 {
        margin-left: 10px;
    }
    
    .categoria-problemas li {
        margin-left: 10px;
    }
    
    .categoria-pagamento {
        height: 220px;
        width: 400px;
    
        background-color: #784E45;
    
        color: whitesmoke;
    
        padding: 15px;
        margin-top: 10px;
    
        border-radius: 20px;
    }
    
    .categoria-pagamento .introdução {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    
        margin-right: 70px;
    }
    
    .categoria-pagamento h1 {
        margin-left: 10px;
    }
    
    .categoria-pagamento li {
        margin-left: 10px;
    }
    
    .categoria-suporte {
        height: 220px;
        width: 400px;
    
        background-color: #784E45;
    
        color: whitesmoke;
    
        padding: 15px;
        margin-top: 10px;
    
        border-radius: 20px;
    }
    
    .categoria-suporte .introdução {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    
        margin-right: 140px;
    }
    
    .categoria-suporte h1 {
        margin-left: 10px;
    }
    
    .categoria-suporte li {
        margin-left: 10px;
    }
 }

 @media (max-width: 500px) {
    .menu {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}