@font-face {
    font-family: "Mergeone";
    src: url(Fontes/MergeOne-Regular.ttf);
}

@font-face {
    font-family: "Lexend";
    src: url(Fontes/LexendGiga-VariableFont_wght.ttf);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

html {
    scroll-behavior: smooth;
}

.grid {
    width: 100vw;
    max-width: 1200px;

    margin-left: 40px;
}

#titulo h1 {
    font-family: "Lexend";
}