/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Merge One Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Merge One Regular'), url('MergeOne-Regular.woff') format('woff');
}

body {
    font-family: 'Merge One Regular';
    line-height: 1.6;
    background-color: #f5f5f5;
}

.banner {
    text-align: center;
    background-image: url(produtos/imgs/Lookbook.png);
}

.banner img {
    max-width: 100%;
    height: auto;
}

.banner p {
    font-family: 'Playfair Display';
    font-size: 80px;
    margin-top: 20px;
    color: #333;
}
