* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}
/*menu*/
body 
.menu {
  width: 95vw;
  max-width: 1500px;

  margin-left: 40px;

  display: flex;
  justify-content: space-between;

  margin-top: 20px;
  margin-bottom: 20px;
  
}

.menu a {
  font-family: "Merge";
  font-size: 20px;
  font-weight: 500;

  color: black;

  text-decoration: underline transparent;
  text-decoration-thickness: 1px;
  transition: text-decoration, color 600ms ease;

  margin-top: 15px;
}

.menu a:hover {
  text-decoration-color: #784E45;
  color: #784E45;
}

.menu img {
  width: 160px;
}

.icons svg{
  width: 50px;

  color: black;

  text-decoration: underline transparent;
  text-decoration-thickness: 1px;
  transition: text-decoration, color 600ms ease;

  cursor: pointer;

}

.icons svg:hover {
  text-decoration: #784E45;
  color: #784E45;
}

.seções {
  width: 25vw;

  display: flex;
  justify-content: space-between;

  margin-left: 200px;
  margin-right: 200px;
}


.icons {
 
  display: flex;
  align-items: center;

  justify-content: space-around;
  flex-direction: column;
}

/*menu*/

select {
  border-radius: 48px;
  /* Altere o valor para ajustar o arredondamento */
  padding: 10px;
  /* Adiciona um pouco de espaço interno */
  border: 3px solid #f82929;
  /* Estilo da borda */
  font-size: 13px;
  /* Tamanho da fonte */
  outline: none;
  /* Remove a borda de foco padrão */
}
 

h1 {
  color: #45a049;
}


input {
  background-color: #fff3de;
  border-radius: 48px;
  border: 2px solid #ccc;
  padding: 10px;
  width: 80%;
  ;
  ;
  margin-top: 5;
  outline: none;

}




h2 {
  color: #45a049;
  text-align: center;
  margin-left: auto;
}

#nome {
  border: 3px solid#45a049;
  font-family: "merge";
  padding: 10px
}

#email {
  border: 3px solid#d3331e;
  font-family: "merge";
  padding: 10px;
  font-size: 13px
}

#cpf {
  border: 3px solid#5c5adf;
  font-family: "merge";
  padding: 10px;
  font-size: 13px
}

#paises {
  border: 3px solid#acabf3;
  font-family: "merge";
  padding: 10px;
  font-size: 13px
}

select {
  background-color: #FFF3DE;
  font-family: "merge";

}

textarea {
  
  
  min-height: auto;
  outline: none;
  width: 80%;
}
/*imagen*/



input[type=text],
select,
textarea {

  background-color: #FFF3DE;
  border-radius: 48px;
  width: 80%;
  padding: 10px;
  border: 3px solid #6ca6fd;
  /*cor da borda caixa de assunto*/
  border-radius: 4px;
  /*curva da borda*/
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 16px;
  resize: vertical;
  outline: none;
}

button {
  background-color: #D2E59E;
  /* Cor de fundo */
  color: white;
  /* Cor do texto */
  padding: 10px 20px;
  /* Espaçamento interno */
  border: none;
  /* Sem borda */
  border-radius: 48px;
  /* Bordas arredondadas */
  cursor: pointer;
  /* Cursor de ponteiro */
  font-size: 16px;
  /* Tamanho da fonte */
  transition: background-color 0.3s;
  /* Transição suave */
  margin-bottom: 20px;
}

button:hover {
  background-color: #B8D98C;
  /* Cor de fundo ao passar o mouse */
}

input[type=enviar]:hover {
  background-color: #45a049;}


  iframe{text-align: center;}

/*FOOTER*/

footer {
  background-color: #B8D98C;         /* Cor de fundo do footer */
  color: white;                   /* Cor do texto */
  text-align: center;             /* Centraliza o texto */
  padding: 20px 0;                /* Espaçamento interno */
  position: relative;             /* Para garantir que tudo fique alinhado */
  bottom: -10%;                   /*parte de baixo do footer*/

}

footer nav {
  margin: 10px 0;                 /* Margem em cima e embaixo */
 
}

footer a {
  color: white;                   /* Cor dos links */
  text-decoration: none;          /* Remove o sublinhado */
  margin: 0 15px;                /* Espaçamento entre os links */
}

footer a:hover {
  text-decoration: underline;     /* linha de contorno no item*/
}

.social-icons {
  margin-top: 10px;               /* Margem de cima do icone */
}

.social-icons img {
  width: 24px;                    /* Tamanho dos ícones */
  margin: 0 5px;                  /* Espaçamento entre os ícones */
}
 