@font-face {
  font-family:"Mergeone";
  src: url(/Contato/FONTE/MergeOne-Regular.ttf);
}
@font-face {
  font-family: "Lexend";
  src: url(/Contato/FONTE/LexendGiga-VariableFont_wght.ttf);
}

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.menu {
  width: 100vw;
  max-width: 1500px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 20px;
  margin-bottom: 20px;
  
}

.menu a {
  font-family: "Mergeone";
  font-size: 20px;
  font-weight: 500;

  color: black;

  text-decoration: underline transparent;
  text-decoration-thickness: 1px;
  transition: text-decoration, color 600ms ease;

  margin-top: 15px;
}

.menu a:hover {
  text-decoration-color: #784E45;
  color: #784E45;
}

.menu img {
  width: 150px;

  display: flex;
  
  cursor: pointer;
}

#icons .carrinho svg{

  color: black;

  text-decoration: underline transparent;
  text-decoration-thickness: 1px;
  transition: text-decoration, color 600ms ease;

  cursor: pointer;

}

#icons .carrinho svg:hover {
  text-decoration: #784E45;
  color: #784E45;
}

.seções {
  width: 30vw;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.carrinho{
    width: 40px;
    height: 40px;

    margin-right: 5px;
}

#icons {
  width: 98vw;
  
  display: flex;
  justify-content: center;
}

@media (max-width: 500px) {
  .menu {
      display: flex;
      align-items: center;
      flex-direction: column;
  }

  .seções {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      margin-top:20px ;
  }

  .produto {
      margin-left: 25px;
  }
  
}


select {
  
  
  padding: 10px;
 
  border: 3px solid #f8f8f8;
 
  font-size: 13px;

  outline: none;
 
}
#nome {
  margin-top: 15px;
  border: 3px solid#45a049;  
  padding: 10px;
 
}

#email {
  border: 3px solid#d3331e;
  padding: 10px;
  font-size: 13px

}


h1 {color: #45a049; 
  text-align: center; 
  }
h2 {
  color: #45a049;
  text-align: center;
 
}




textarea {
  min-height: auto;
  outline: none;
  width: 80%;
  
}
.meio{
  display: flex;
  flex-direction: column;
  align-items:center;
}
input,
select,
textarea {
  background-color: #FFF3DE;
  border-radius: 48px;
  width: 80%;
  padding: 10px;
  border: 3px solid #6ca6fd;
  border-radius: 4px;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;
  resize: vertical;
  outline: none;
  display: flex;
  flex-direction: column;
  align-items:center;
  
}
button {
  background-color: #D2E59E; 
  color: white; 
  padding: 10px 20px;  
  border: none; 
  border-radius: 48px; 
  cursor: pointer; 
  font-size: 16px;  
  transition: background-color 0.3s; 
  margin-bottom: 20px;
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
button:hover {
  background-color: #B8D98C;
}

 








#icons .carrinho svg:hover {
  text-decoration: #784E45;
  color: #784E45;
}



.fooder-icons {
  width: 100%;
   
   display: flex;
   align-items: center;
   flex-direction: row;
   justify-content: space-around;

   padding: 20px;
}

.fooder-icons svg {
   width: 35px;
   height: 35px;
}

.fooder-icons .monã {
   width: 140px;
   margin-bottom: 10px;

   cursor: pointer;
}

.sociais {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;

   gap: 25px;
}

.fooder-icons svg {
   color: black;

   text-decoration: underline transparent;
   text-decoration-thickness: 1px;
   transition: text-decoration, color 600ms ease;

   cursor: pointer;
}

.fooder-icons svg:hover {
   text-decoration-color: #784E45;
   color: #784E45;
}
